*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
nav {
  width: 80vw;
  max-width: 1200px;
  padding: 1rem;
  background-color: #fff;
}

nav div {
  display: flex;
  flex-direction: row;
}

#btn {
  float: right;
}
